@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* Get connection to model *@
@model ProjectsAndCustomers.Models.Entities.ProjectEntity

<h1>Edit Project</h1>
@* Show p if no projects *@
@if (Model is null){
    <p>No projects was found wtith this id</p>
} else{

@* id is readonly *@
<form method="post">
    <div class="mt-3">
        <label class="form-label" for="title">Id</label>
        <input class="form-control" type="text" id="id" name="Id" readonly asp-for="Id" /> 
    </div>

    <div class="mt-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title" required asp-for="Title" />
    </div>

    <div class="mt-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" id="description" name="description" asp-for="Description"></textarea>
    </div>

    <div class="mt-3">
        <label class="form-label" for="startDate">Start Date</label>
        <input class="form-control" type="date" id="startDate" name="startDate" required asp-for="StartDate" />
    </div>

    <div class="mt-3">
        <label class="form-label" for="endDate">End Date</label>
        <input class="form-control" type="date" id="endDate" name="endDate" required asp-for="EndDate" />
    </div>


        <div class="mt-3">
            <label class="form-label" for="budget">Budget</label>
            <input class="form-control" type="number" id="budget" name="budget" required asp-for="Budget" />
        </div>

    <div class="mt-3">
        <label class="form-label" for="customerName">Customer Name</label>
            <input class="form-control" type="text" id="customerName" required asp-for="Customer.CustomerName" />
    </div>
    <div class="mt-3">

        <button class="btn btn-primary" type="submit">Edit Project</button>
    </div>

</form>

}